@model IEnumerable<MemberListingViewModel>

<div class="add-record-container text-center mx-auto">
    <a asp-controller="Members" asp-action="Add" class="add-record-btn">Add Member</a>
</div>

@if (Model.Any())
{
    <div class="container-standard">
        <table class="text-center mx-auto">
            @foreach (var member in Model)
            {
                <tr>
                    <td class="record-card">
                        <img class="img-listing-size" src="@member.ImageUrl" alt="Artist image" />
                        <p>@member.FirstName @member.LastName</p>
                        <p>Birthday: @member.BirthDate</p>
                        <p>Artist: @member.Artist</p>
                        <p>Joined: @member.Joined</p>

                        @if (@member?.Left != null)
                        {
                            <p>Left: @member.Left</p>
                        }

                        <p>Gender: @member.Gender</p>
                        <a class="btn btn-primary rounded" asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id">Edit</a>
                        <a class="btn btn-danger rounded" asp-controller="Members" asp-action="Delete" asp-route-id="@member.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="border container-standard text-center h1">
        <p>There are no members yet.</p>
    </div>
}