@model IEnumerable<AlbumListingViewModel>

<div class="add-record-container text-center mx-auto">
    <a asp-controller="Albums" asp-action="Add" class="add-record-btn">Add Album</a>
</div>

@if (@Model.Any())
{
    <div class="container-standard">
        <table class="text-center mx-auto">
            @foreach (var album in Model)
            {
                <tr>
                    <td class="record-card">
                        <img class="img-listing-size" src="@album.CoverUrl" alt="Album image" />
                        <p>Price: @album.Price $</p>
                        <p>Name: @album.Name</p>
                        <p>Songs: @album.SongCount</p>
                        <p>Status: @album.AlbumStatus</p>
                        <a class="btn btn-primary rounded" asp-controller="Albums" asp-action="Info" asp-route-id="@album.Id">View More</a>
                        <a class="btn btn-primary rounded" asp-controller="Albums" asp-action="Edit" asp-route-id="@album.Id">Edit</a>
                        <a class="btn btn-danger rounded" asp-controller="Albums" asp-action="Delete" asp-route-id="@album.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="border container-standard text-center h1">
        <p>There are no albums yet.</p>
    </div>
}