@model AlbumSongListingViewModel

<div class="border container-standard">
    <table class="text-center mx-auto">
        <tr>
            <td class="border">
                <img class="img-listing-size" src="@Model.CoverUrl" alt="Album image" />
                <p>Name: <strong>@Model.Name</strong></p>
                <p>Genre: <strong>@Model.Genre</strong></p>
                <p>Price: <strong>@Model.Price $</strong></p>
                <p>Released: <strong>@Model.Released.ToString("yyyy-MM-dd")</strong></p>
                <p>Status: <strong>@Model.AlbumStatus</strong></p>
                <p>Artist: <strong>@Model.Artist</strong></p>
                <p>Label: <strong>@Model.Label</strong></p>
                <p>Production in days: <strong>@Model.ProductionTimeInDays</strong></p>
                <p>Studio type: <strong>@Model.StudioType</strong></p>
            </td>
        </tr>
        @if (@Model.SongNames.Count > 0)
        {
            <tr>
                <td>
                    <h3>Songs:</h3>
                </td>
            </tr>
            @for (int i = 0; i < @Model.SongNames.Count; i++)
            {
                <tr>
                    <td>
                        <p>@(i + 1). <strong>@Model.SongNames[i]</strong></p>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <h3>This album has no associated songs.</h3>
                </td>
            </tr>
        }
    </table>
</div>