@model IList<ArtistAllViewModel>

<div class="topCenterBtnLink text-center mx-auto">
    <a class="btn btn-primary btn-lg btn-block rounded" href="/Artists/Add">Add artist</a>
</div>
@if (@Model.Count > 0)
{
    <div class="border standardDiv">
        <table class="text-center mx-auto">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="border">
                        <img class="listingImageSize" src="@Model[i].ImageUrl" alt="Artist image" />
                        <p>Name: @Model[i].Name</p>
                        <p>Founded: @Model[i].Founded.ToString("yyyy-MM-dd")</p>
                        <p>Rating: @Model[i].Rating</p>
                        <p>Location: @Model[i].Location</p>
                        <a class="btn btn-primary rounded" href="/Artists/Edit/@Model[i].Id">Edit</a>
                        <a class="btn btn-danger rounded" href="/Artists/Delete/@Model[i].Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="border standardDiv text-center h1">
        <p>There are no artists yet.</p>
    </div>
}