@model IEnumerable<ArtistListingViewModel>

<div class="add-record-container text-center mx-auto">
    <a asp-controller="Artists" asp-action="Add" class="add-record-btn">Add Artist</a>
</div>

@if (@Model.Any())
{
    <div class="container-standard">
        <table class="text-center mx-auto">
            @foreach (var artist in Model)
            {
                <tr>
                    <td class="record-card">
                        <img class="img-listing-size" src="@artist.ImageUrl" alt="Artist image" />
                        <p>Name: @artist.Name</p>
                        <p>Founded: @artist.Founded.ToString("yyyy-MM-dd")</p>
                        <p>Rating: @artist.Rating</p>
                        <p>Location: @artist.Location</p>
                        <a class="btn btn-primary rounded" asp-controller="Artists" asp-action="Edit" asp-route-id="@artist.Id">Edit</a>
                        <a class="btn btn-danger rounded" asp-controller="Artists" asp-action="Delete" asp-route-id="@artist.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="border container-standard text-center h1">
        <p>There are no artists yet.</p>
    </div>
}