@model ArtistInputModel

    <div class="standardDiv">
        <!--It is crucial to put asp-action="Edit" here since it allows the form to map the inputs and Id (which is required) with the viewmodel above-->
        <form asp-controller="Artists" asp-action="Edit" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" type="text" name="name" value="@Model.Name"/>
            </div>
            <div class="form-group">
                <label for="founded">Founded</label>
                <input class="form-control" id="founded" type="date" name="founded" value="@Model.Founded.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" id="location" type="text" name="location" value="@Model.Location"/>
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input class="form-control" id="rating" type="number" step="0.1" name="rating" value="@Model.Rating"/>
            </div>
            <div class="form-group">
                <label for="imageUrl">ImageUrl</label>
                <input class="form-control" id="imageUrl" type="text" name="imageUrl" value="@Model.ImageUrl"/>
            </div>
            <div class="submitDiv">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
    </div>